.btn-danger{
	background-color: #fd7e14;
	/*background-color: #fc3439;*/
	border-radius: 3px;
}

.btn-success{
    background-color:#398439;
    color: #ffffff;
}

.btn-danger:hover{
    border: 1px solid #ff1000;
}

.btn-recharge{
	/*background-color: #ff2500;*/
	border-radius: 20px;
}

.btn-pending{
    background-color: #ffcc00;
    color: #ffffff;
}

.btn-modal-save{
	background-color: #999999;
	color: #ffffff;
	border-radius: 20px;
}

.bbn-modal input[type="text"], .bbn-modal textarea{
	color: #4D4D4D;
	background-color: #FFFFFF;
}

.bbn-text-left{
    text-align: left;
}

.bbn-text-right{
    text-align: right;
}

.bbn-widget-parent{
	background-color: #f7f7f7;
}

.row .bbn-widget{
    margin-bottom: 25px;
/*    position: inherit;
    right: -80px;*/
}

.bbn-widget{
	color: #666666;
	text-align: center;
	font-weight: bold;
}

.bbn-widget .small{
  color: #666666;
  text-align: center;
  font-weight: normal;
}

.bbn-widget h2, .dash-foot-exec{
	color: #fd7e14;
	/*color: #fc3439;*/
}

.content-box-compose .btn-danger{
  /*width: 100%;*/
  /*border: #ff1000 solid;*/
  /*position: relative;*/
  /*left: 10px;*/
  border-radius: 3px;
  margin: 20px 5px -5px 21px;
}

.btn-danger:hover, .btn-danger:focus{
  background-color: #fd7e14;
}
.modal-body .panel-body{
    /*border: none;*/
}

.panel-body{

    /*box-shadow: 5px 5px 15px #888888;*/
/*    margin-right: 0px;
    padding-right: 0px;*/
    border-bottom: 1px solid #d4d4d4;
    background-color: #ffffff;
   /* border-radius: 3px;*/
}


.bbn-widget .col-xs-2{
  width: 95px;
}

.col-xs-2{
    /*margin: 0px;*/
    padding: 2px;
}

.row .col-xs-2{
    /*margin: 0px;*/
    /*padding: 2px;*/
}




.col-xs-2 .panel-body:hover, .col-md-4 .panel-body:hover{

    border: none;
    box-shadow: 5px 5px 15px #888888;
    /*background-color: #999999;*/
    border-radius: 5px;
}


.bbn-modal{
    background-color: #f7f7f7;
    position: inherit;
}


.bbn-modal .panel-body{
	background-color: #FFFFFF;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.header{
	background-color: #fd7e14;
   /*background-color: #fc3439;*/
   /*height: 100px;*/
}

.jumbotron {
    position: relative;
    /*background: #000 url("jumbotron-bg.png") center center;*/
    background: url("../images/cover.svg") center center;
    width: 100%;
    /*height: 100%;*/
    padding-bottom: 0px;
    background-size: cover;
    overflow: hidden;
    color: #666666;
    border-radius: 0px;
}

.jumb-content {
    position: relative;
    margin-top: 40px;
    padding-top: 20px;
    overflow: hidden;
    /*color: #666666;*/
    color: #fff;
    font-size: 15px;
    border-radius: 0px;
}

.jc-left {
    position: relative;
    float: left;
/*    margin-top: 40px;
    padding-top: 20px;
    overflow: hidden;
    color: #666666;
    font-size: 15px;*/
}

.jc-right {
    position: relative;
    float: right;
/*    margin-top: 40px;
    padding-top: 20px;
    overflow: hidden;
    color: #666666;
    font-size: 15px;*/
}

.dash-head{
	color: #00000;
	font-weight: bolder;
	font-size: 24px;
}

.dashboard-header{
  color: #4a4a4a;
  font-size: 16px; 
  padding-bottom: 20px;
}

.material-icons{
    display: block;
}

.dash-head-span{
	color: #fff;
	/*color: #ff2500;*/
/*	font-weight: bolder;
	font-size: 16px;*/
}

.dash-foot h2{
  color: #ffff;
  font-weight: bolder;
  /*font-size: 16px;*/
}

.dash-foot-span{
	color: #666666;
	font-weight: bolder;
	font-size: 16px;
}

.exec{
	display: block;
	color: #666666;
	font-weight: bold;
}


.parent-icon{
  margin-right: 26px;
}

.pane-foot{
  background-color: #f7f7f7;
  margin-top: -30px;
  padding: 15px 25px;
}

.content-left{
  background-color: #f7f7f7;
  /*margin-top: -30px;*/
  padding: 15px 25px;
}

.contacts-header{
  color: #4a4a4a;
  font-size: 140%; 
  padding-bottom: 20px;
}

.contact-left{
  background-color: #f7f7f7;
  /*margin-top: -30px;*/
  /*padding: 15px 25px;*/
  padding: 10px 30px 0px 30px;
}

.contact-menu{
    display: inline-block;
    padding: 4px;
    text-align: center;
    margin-left: 20px;
    font-size: 90%;
    cursor: pointer;
    color: #6d6d6d;
}

.contact-menu a{
    text-decoration: none;
      display: inline-block;
    text-align: center;
    font-size: 90%;
    cursor: pointer;
    color: #6d6d6d;
}

.contact-menu a:hover{
    text-decoration: none;
}

.contact-action{
    display: inherit;
    /*padding: 4px;*/
    /*text-align: center;*/
    padding-left: 8px;
    font-size: 90%;
    cursor: pointer;
    color: #6d6d6d;
}

.contact-action-more{
    /*padding-left: 8px;*/
    margin: 0px;
    padding: 0px;
    font-size: 90%;
    cursor: pointer;
    color: #6d6d6d;
    display: inherit;
    background-color: #d7d7d7;
    top: 0px;
}

.contact-header{
  color: #4a4a4a;
  font-size: 140%; 
  padding-bottom: 20px;
}

.contact-header #sch-rcp{
    border: none;
    font-size: 16px;
}

.bal{
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 2;
    text-align: right;
}

.time, .contact-email{
	padding-bottom: 10px;
}

.group-header{
/*    background-color: #4d4d4d;
    color: #ffffff;*/
    margin-bottom: 9px;
}

.group-header ul{
    color: #ffffff;
    padding: 0px;
}
.group-header ul li{
    background-color: #4d4d4d;
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
    
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
}

.group-header li div{
    padding-top: 9px;
}

.group-contact{
    cursor: pointer;
}

.credit-header ul li{
    background-color: #FFFFFF;
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
    
/*    padding-right: 10px;
    padding-left: 20px;*/
    /*padding-bottom: 25px;*/
}

.credit-header-label{
    color: #4a4a4a;
    font-size: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.credit-header .credit-bottom{
    /*margin-top: 140px;*/
    margin-bottom: 50px;
}
.credit-header .btn-recharge{
    margin-top: 40px;
}

.recharge-header .panel-body{
    background-color: #ececec;
}

.credit-list{
    padding: 0px 0px 15px 0px;
}

.credit-list input[type="text"], .credit-list textarea, .credit-list select{
    border: 0px;
    /*border-bottom: 10px solid #d7d7d7;*/
    border-radius: 0px;
}

.credit-list li:last{

	border-bottom: 0px;
}

.group-bottom{
	/*padding: 15px 10px 10px 0px;*/
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
}

.credit-token-table{
}

.credit-token-table ul li{
    background-color: #ffffff;
    list-style: none;
    padding-left: 18px;
}

.credit-token-table .col-md-11{
    padding: 10px 0px 0px 0px;
    
}
.credit-token-table .col-md-12{
    padding: 0px 0px 8px 0px;
    
}
.credit-token-table .col-md-1{
    padding: 0px 20px 0px 0px;
}

.credit-token-table ul{
    /*background-color: #4d4d4d;*/
    padding: 0px;
}
.credit-token-table ul li{
    /*background-color: #4d4d4d;*/
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
}

.details{
    /*font-size: 100%;*/
    color: #4a4a4a;
}

.dropdown-menu li a{
    padding: 10px 15px;
}

.delivey-report .btn-success, .delivey-report .btn-danger{
    border-radius: 20px;
    border: none;
    font-size: 10px;
    padding: 3px 10px;
    margin: 0px 5px 5px 0px;
}

.delivery-type {
    font-size: 10px;
}

.delivery-type span{
    display: inline-block;
    font-size: 10px;
    /*color: #ff1000;*/
    background-color: #fd7e14;
    border-radius: 100%;
    padding: 5px 5px;
}

.delivery-status{
    padding-top: 50px;
}

.sent-item{
    cursor: pointer;
}

/* Footer */

footer{
   background-color:#ff2500;
   box-shadow:inset 0px 0px 3px #111;
   color:#fff;
   font-size:14px;
   line-height:25px;
   padding:10px 0px 10px 0px;
   bottom: 0px;
}

footer a{
   color:#000000;
   font-weight: bolder;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: #000 1px solid;
	border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   margin:15px 0px;
}

.modal-row{
	margin: 0;
}

.modal-content{
    border: none;
    border-radius: 0px;
}

#table-custom{
  color: #115;
}